p.vigencia{
	margin: 15px auto;
    width: 310px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
p.pref {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    width: 320px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #F00;
}
p.cae {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 15px auto;
    width: 250px;
}
p.pie_cae {
    width: auto;
    height: auto;
    font-size: 12px;
    font-style: italic;
    margin: 20px 0;
    text-align: center;
}
.oval-feed li:first-child{
    padding-top: 0 !important;
}