.steps > div{
	text-align:center;
}
.red-bg { 
	background:rgba(214,0,0,0.6);
    background: url(../img/bg-red.png) 0 0 repeat\9;
}	

.black-bg {
	background:rgba(0,0,0,0.5); 
    background: url(../img/bg-black.png) 0 0 repeat\9;
}
.kms-lanpass h3	{
	font-size:17px;
	font-weight:400;
	color:#fff; 
	text-align:left;
	text-transform:uppercase;
	margin:0;
	padding: 0 0 10px 10px;	
	width:260px;
	height: auto;
	font-family: 'Open Sans', Arial, sans-serif;
    border-bottom: 1px rgba(255,255,255,0.8) dotted;
    border-bottom:1px dotted #eaeaea\9;
}
 
.kms-lanpass h3:after {
    width: 26px;
    height: 50px;
    background: url(../img/avion.png) 0 0 no-repeat;
    content: ""; 
    position: absolute;
    top: 21px;
    right: 17px;
}

.kms-lanpass ul	{	
    width: 100%;	
    height: auto;
    margin: 0;
    height: auto;
    padding: 15px;
    border: 1px rgba(255,255,255,0.8) dotted;
    border:1px dotted #eaeaea\9;
    border-top: none;
}
.kms {
    overflow: hidden;
    padding: 15px;
    margin: 0 0 10px 0;
	min-height:250px;
}
 .kms  p{
	 color:#FFF;
	 margin-top:20px;
 }
#st_2 ul li, #st_3 ul li{
	font-size:1.5em;
	line-height:1.5em;
}
#st_2{
	display:none;
}
#st_3{
	display:none;
}
.kms-lanpass ul	li {
	list-style:none;
	padding: 0;
	background:none;
	margin:0 0 10px 0;	
	text-transform:uppercase;
	font-family: 'Open Sans Light', Arial, sans-serif;
	font-weight:300;  
	font-size:12px;
	text-align:left;
	color:#fff;
}
 
.kms-lanpass ul	li span { 
	font-size:12px;
}

.kms-lanpass ul li span.vineta { 
	background-color: #ec0000;
	color: #fff;
	padding: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.kms-lanpass ul li.yellow {
    background-color: #E59D27;
    color: #fff;
    margin-bottom: 0;
    width: 95%;
    padding: 5px;
}

.kms-lanpass p.yellow {
    background-color: #E59D27;
    color: #fff;
    margin-bottom: 0;
    width: 95%;
    padding: 5px;
}

/*LOADING*/
#loader{
	display:none;
	height: 150px;
	padding: 20px 0;
}
/*loading*/
.loaderContent{
	position: relative;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
	left: 50%;
	top: 50%;

}
.loaderContent span{
	color: #ec0000;
    font-size: 30px;
    left: 25px;
    position: absolute;
    top: 25px;
}
.loading{
	animation-duration: 1.5s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: loader;
}
/*nuevo loading*/
/*nuevo loading*/
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.uil-ring-css {
  background: none;
  position: relative;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px; 
  border-radius: 80px;
  box-shadow: 0 2px 0 0 #ec0000;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
.brown .uil-ring-css > div{
  box-shadow: 0 2px 0 0 #fff;
}
.uil-ring-css > div:before{
  content: "";
}
.bgLoader{
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2222;
}
.loaderClaro{
	background-color: rgba(255, 255, 255, 0.8);
}
.loaderOscuro{
	background-color: rgba(0, 0, 0, 0.8);
}

.campana_row .link.auto-cent span, .campana_row .link.auto-cent i{
	display:none;
}
