li {
        text-transform: uppercase;

}
.accordion li {
    width: 21%;
    background: none;
    text-align: left;
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 13px;
    font-size: 12px;
}

    .contenedorModal h6 {
    background-color: #ec0000;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    margin: 0;
    text-align: left;
    padding: 10px 0 10px 20px;
    width: 100%;
    font-size: 20px;
	}

.col-md-6 {
    margin: 20px 0;
}

.h7 {
    margin: -10px;
    display: block;
    font-size: 15px;
}
