.red {
    color:#ec0000;
}

.cont-cajas {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.cajas {
    width: 100%;
    height: auto;
    float: left;
    text-align: left;
    margin: 0 7px 20px 0;
   }

#dctodiez {
    margin: 40px auto 0;
    width: 85%;
    display: block;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    border: solid 2px #fff;
    position: relative;
}
   
html table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #dddddd;
}
table tr:nth-child(odd) {
  border: 1px solid #dddddd;
}
table tr td {    
    padding: 8px 0 3px 3px;
    text-align: center;
    border: 1px solid #dddddd;

}
table tr:first-child {
  background: #444 !important;
  color: #FFF;

}
table tr:first-child td {
  font-family: 'Open Sans Bold', Arial, sans-serif;

}


.cont-cajas .cajas table{
    border: 0;
    width: 361px;
}
.cont-cajas .cajas tr{
}

.cont-cajas .cajas tr td{
    border: 0;
    background-color: transparent;
    padding: 5px;
    width: 33%;
    border: 1px solid #dddddd;

}
.cont-cajas .cajas tr td strong{
    color: #ec0000;
}
.cont-cajas .cajas tr.borderTL{
    border-top-left-radius: 5px;
}

.text-center  p.extrados {
    font-size: 15px;
    font-family: 'Open Sans Bold', Arial, sans-serif;
    margin: 0 20px;
}


.text-center  p.extra {
    font-size: 17px;
    font-family: 'Open Sans Bold', Arial, sans-serif;
}


 .text-center .ejem {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}
