.redflag {
    background: #FFF;
    position: relative;
    width: 70%;
    margin: 0 auto;
    display: block;

}
/*.redflag:after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 25px solid #ec0000;
    border-bottom: 50px solid transparent;
    top: 0;
    position: absolute;
    right: -25px;
}
*/
img.voucher{
    margin: 11px 3%;
    padding: 0;
    display: inline-block;
}
.redflag p{
    width: 76%;
    height:auto;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    line-height:28px; 
    text-transform:uppercase;
    display: inline-block; 
    vertical-align: top;

}
.redflag p small{ 
    font-size: 14px;
    color: #333; 
}

.redflag p strong {
    font-size: 20px;
    color: #ec0000;
}

.tarjeta{
    margin:50px auto 0 auto;
} 

h4{
	font-weight: normal;
	font-size: 20px;
	font-family: 'Open Sans Semi Bold', Arial, sans-serif;
}

.botonTextoLink {
    color: #333;
}

.botonTextoLink:before {
    background-color: #333;

}

 @media screen and (max-width: 320px) {
.redflag p {
    width: 100%;

