html table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #dddddd;
  margin-bottom:20px;
}
table tr:nth-child(odd) {
  border: 1px solid #dddddd;
}
table tr td {    
    padding: 8px 0 3px 3px;
    text-align: center;
    border: 1px solid #dddddd;

}
table tr:first-child {
  background: red;
  color: #FFF;

}
table tr:first-child td {
  font-family: 'Open Sans Bold', Arial, sans-serif;

}
.campana_row ul.listaClasica{
	margin-bottom:20px;
}
#bajada-form{
	margin-bottom:20px;
}
#bajada-form .botonTextoLink{
	margin:auto;
}
form{
	display:block;
	width:100%;
	padding:15px;
	border:1px solid #CCC;
}

.textIcon {
  overflow: hidden;
}
.textIcon p{
  text-align: left;
  padding: 25px 0 0 90px;
  margin: 0 auto;
}
.textIcon p span{
  font-family: 'Open Sans Semi Bold', Arial, sans-serif;
}
.textIcon p.iconTop{
  background-image: url("../img/icon_chile.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 0;
}
.textIcon p.iconBot{
  background-image: url("../img/icon_mundo.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 0;
}