.color-red, .last, .info-content{
	text-align: center !important;
}
.color-red{
	color: #ec0000 !important;
}
.brackets h3{
	text-shadow:2px 2px 2px #000;
}

{ 
    width:100%; 
    height:auto;
    overflow:visible; 
    margin:0; 
    text-align:center; 
    background:#ffffff;
    margin-bottom: 50px;
} 
.banner {
  width: 750px;
  height:225px; margin: 0px auto 10px auto;
  background-image: url("../img/bg-tres-cuotas.jpg");
  background-repeat: no-repeat;
}

.banner .brackets {
  width: 400px;
  height: auto;
  padding: 27px 23px;
  position: relative;
  top: 236px;
  margin: 0 auto;
}
.banner .brackets span {
  position: absolute;
  border:7px solid #ec0000;
  width: 25px;
  height: 25px;
}
.banner .brackets .corchete_TL{ top: 0; left: 0; border-right: 0; border-bottom: 0;}
.banner .brackets .corchete_TR{top: 0; right: 0; border-left: 0; border-bottom: 0;}
.banner .brackets .corchete_BR{ bottom: 0; right: 0; border-left: 0; border-top: 0;}
.banner .brackets .corchete_BL{ bottom: 0; left: 0; border-right: 0; border-top: 0;}

.brackets h1 {
    color: #ec0000;
    font-size: 24px;
    text-align: center;
    line-height: 25px;
    font-family: 'Open Sans Bold', Arial, sans-serif;
    width: 100%;
    margin: 0px;
}

.txt span{
   color: #ec0000;
   font-size: 18px;
   display: block;
   font-family: 'Open Sans Bold', Arial, sans-serif;
   margin: 10px auto 0;
}
.info-content img {
  margin: 10px auto;
}
.iconos{
  width: 100%;
  margin: 10px auto;
}
.iconos li {
    width: 23%;
    margin: 0 1%;
    float: left;
    background-image: none;
    padding: 20px 0;
    overflow: hidden;

}


.iconos p {
    background-color: #ec0000;
    color: #fff;
    font-size: 14px;
    padding: 5%;
    width: 100%;
    margin-top: 30px;
}
span.icon-compras, span.icon-avion22, span.icon-sucursales, span.icon-localizador, span.icon-lector-tarjeta, span.icon-auto, span.icon-universidades2 {
    font-size: 36px;
    padding: 18px;
    border-radius: 50%;
    color: #fff;
}

.bg-red {
  background-color: #CC0000;
}
.bg-cian {
  background-color: #1BB3BC;
}
.bg-purple {
  background-color: #9E3667;
}
.bg-green  {
  background-color: #ABC111;
}
.bg-yellow {
  background-color: #E59D27;
}
.bg-gray {
  background-color: #333333;
}

.iconos li .imgIconos{
  width: 70%;
  margin: 0 auto;
}
.txtCae{
  font-size: 14px!important;
}
.txtCae span{
  color: #ec0000;
  font-size: 16px;
  display: block;
  font-family: 'Open Sans Bold', Arial, sans-serif;
}
.aside_rutclave{
  display:none;
}
.legal{
  font-size:10px;
  color:#999;
  text-align:justify;
  height: auto;
  margin-top:10px;
}

.botonNew {
    margin: 20px;
    border-radius: 30px;
    padding: 12px 40px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.botonPrimario {
    color: #fff;
    background-color: #ec0000;
}
