.tarjetasCampana{
	margin-top: 20px;
}
.textos_beneficios{
	margin-top: 20px;
}
p{
	font-size: 14px;
}
span{
	color: #ec0000;
}
p span a{
	font-weight: bold;
	color: #ec0000;
}

.yellow {
	background-color: #E59D27;
    color: #fff;
    margin-bottom: 0;
    width: 100%;
    padding: 10px 6px;
    margin: 10px 0 0 0;
}