#contenedor {
    position: relative;
    padding-bottom: 46.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    display: block;
}

#contenedor iframe,
#contenedor object,
#contenedor embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}