.aqui{
    font-size: 14px;
    font-weight: bold;
    color: #F00;
}
#tabla{
	margin-bottom:20px;
	overflow:auto;
	height:auto;
}
#tabla ul li + li{
	margin:0 !important;
}
#tabla ul li{
	padding:5px 10px;
	text-align:center;
	border-bottom:1px solid #CCC;
}
#tabla ul li.first{
	background-color:#ec0000;
	color:#FFF;
}
#tabla ul{
	border:2px solid #ec0000;
	position:relative;
}
#tabla ul:after{
	content:'';
	display:block;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:10px solid #ec0000;
	width:0;
	height:0;
	position:absolute;
	top:50%;
	right:-20px;
}
#tabla ul.gris:after{
	display:none;
}
#tabla ul.gris{
	border:2px solid #999;
}
#tabla ul.gris li.first{
	background-color:#999;
}
.campana_row table { 
	float:left; 
	margin:10px 0 15px; 
	border: none; 
	border-collapse:collapse; 
	width:100%; 
	height:120px; 
}
.campana_row table tbody { 
	border:none; 
} 
.campana_row table tbody tr { 
	height:30px; 
	background:#666; 
}
.campana_row table tbody tr.color { 
	height:30px;
	background:#a5a5a5;
}
.campana_row table tbody tr td { 
	background:none;
	color:#fff; 
	font-weight:normal; 
	padding:3px 0 3px 10px; 
	border:1px solid #FFFFFF; 
	font-weight:bold; 
}
.campana_row .col-md-6 h3{
	display:none;
}
@media (max-width: 960px) {
	#tabla > div{
		padding:1px;
	}
	#tabla ul li.first{
		min-height:75px;
	}
	#tabla ul:after{
		display:none;
	}	
}
@media (max-width: 760px) {
	#tabla ul li.first{
		min-height:90px;
		font-size:0.8em !important;
		line-height:1.2;
	}
	#tabla ul li{
		padding:10px 5px;
		font-size:0.7em;
		line-height:1;
	}
	.tablas_detinos{
		padding:0;
	}
}