.brackets h3{
		color:#333 !important;
}

.cont-cajas {
  height: auto;
  margin: 0 auto;
}

.cajas {
    width: 100%;
    min-height: 110px;
    float: left;
    text-align: left;
    margin: 0 7px 20px 0;
    background-color: #1BB3BC;
}

.cajas a{
  height: 70px;
  padding: 10px 0;
  line-height: 20px;
}

.cont-cajas .cajas h4 {
  font-size: 17px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 10px;
  height: 20%;
  line-height: 18px;
  text-align: center;
  color: #fff;

}
.cont-cajas .cajas .dcto {
  font-size: 14px;
  color: #fff;
  margin: 10px auto;
  width: 80%;
  text-align: center;
  line-height: 15px;
} 

.cont-cajas .cajas .dcto span{
  display: block;
  font-size: 30px;
  text-align: center;
  margin: 10px auto;
}

.logo-rock {
    width: 60%;
    height: auto;
    margin: 5% 15%;
}

.kms {
  font-size: 15px;
  text-align: center;
}