body {
  font-family: 'Open Sans', Arial, sans-serif !important;
}

/* Float right redes sociales */
#medios_sociales {
  display: none;
}


h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', Arial, sans-serif;
}

ul li + li {
	margin: 0px;
}

.pt50 {
	padding-top: 50px;
}

.tab-md-4 {
  width: 33%;
  text-align: center;
}

.clear-both {
	clear: both;
}

.box-legal {
    margin-top: 30px;
}


h3.destacado-gris {
    color: #5b5a5b;
    font-size: 14px;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
}

h3.destacado-rojo {
    color: #ec0000;
    font-size: 18px;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
}


.box-legal h5 {
	color: #ec0000;
	font-family: 'Open Sans Semi Bold', Arial, sans-serif;
}

.box-legal .parrafo-legal {
    clear: both;
    font-size: 12px;
    text-align: justify;
    width: 100%;
}

.brackets.white h3 {
    color: #444444;
    text-shadow: none;
    font-family: 'Open Sans', Arial, sans-serif;
}

ul.tabs_buttons li a:hover span, ul.tabs_buttons li a.active span {
    width: 100%;
}

div.contenido-tab {
    padding: 0px;
    width: 100%;
    min-height: 300px;
}

ul.tabs_content {
    list-style: none;
    margin-top: 0px;
    padding: 0;
    margin-top: 30px;
}

img.check {
    position: absolute;
    left: -5px;
    width: 15px;
    margin-top: 2px;
}

@media screen and (max-width: 767px) {
    img.check {
        position: absolute;
        left: 2px;
        width: 10px;
        margin-top: 5px;
    }
    .accordion h4 {
        font-size: 16px;
    }
}

