body {
  font-family: 'Open Sans', Arial, sans-serif !important;
}
a.link.red.auto-cent {
  display: none;
}
#medios_sociales {
  display: none;
}
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', Arial, sans-serif;
}
ul li + li {
  margin: 0px;
}
.space {
  margin: 20px 0px;
}
.pd20 {
  padding: 20px 0px;
}
.pd40 {
  padding: 40px 0px;
}
#logo-uc {
  display: block;
  margin: 0 auto 20px;
}
.footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px dashed #CCC;
}
.text_top_tab {
  padding: 15px 0;
  font-size: 1.1em;
}
ul.tabs_buttons li {
  list-style: none;
  display: inline-block;
  width: 33%;
  text-align: center;
}
ul.tabs_buttons li a {
  display: block;
  text-transform: none !important;
}
.tabs_buttons li a:hover span, ul.tabs_buttons li a.active span {
  width: 100%;
}
.brackets.white {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.tabs_content h5 {
  color: #ec0000;
}
.tabs_content ul li {
  width: 100%;
  float: left;
  margin: 0 10px;
  padding: 0 0 5px 15px;
  height: auto;
  text-align: left;
  position: relative;
}
.tabs_content ul.convenio_escolar li:last-child {
  padding-bottom: 20px;
  color: #ec0000;
}
.tabs_content ul.convenio_escolar li:first-child {
  color: #999;
}
.val .botonTextoLink {
  margin: 0;
}
.destacado-rojo {
  color: #ec0000;
  font-family: 'Open Sans Semi Bold', Arial, sans-serif;
}
.destacado-gris {
  font-size: 14px;
  color: #444444;
  font-family: 'Open Sans Semi Bold', Arial, sans-serif;
}
.destacado-gris-light {
  color: #444444;
  font-family: 'Open Sans', Arial, sans-serif;
}
.box-legal .parrafo-legal {
  clear: both;
  font-size: 12px;
  text-align: justify;
  width: 100%;
  color: #6d6d6d;
}
img.check {
  position: absolute;
  left: -5px;
  width: 15px;
  margin-top: 2px;
}
@media screen and (max-width: 767px) {
  img.check {
    position: absolute;
    left: 2px;
    width: 10px;
    margin-top: 5px;
  }
  ul.tabs_buttons li {
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
