html table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #dddddd;
}
table tr:nth-child(odd) {
  border: 1px solid #dddddd;
}
table tr td {    
    padding: 8px 0 3px 3px;
    text-align: center;
    border: 1px solid #dddddd;

}
table tr:first-child {
  background: red;
  color: #FFF;

}
table tr:first-child td {
  font-family: 'Open Sans Bold', Arial, sans-serif;

}

.botonTextoLink {
    color: #333;
    margin: 0;
}

.botonTextoLink:before {
    background-color: #333;

}
