.brackets h3 {
    text-shadow: 2px 2px 2px #000;
}
.logo {
	width: 30%;
	max-width: 206px;
	margin: 0 auto;
}

.logo img {
	width: 100%;
	height: auto;
	padding: 0;
}

h4 {
    font-weight: normal;
    font-size: 20px;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
    margin: 20px 0;
    display: block;
    text-align: center;
}
.promocion {
	width: 80px;
	height: auto;
	overflow: hidden;
}
.niuBox {
    background-color: #f0f0f0;
    border: medium double #fff;
}

.niuBox img {
	width: 50%;
    margin: 10px auto;
    display: block;
}
.rojo {
    color: #ec0000;
}

p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    width: 100%;
}

.center {
	text-align: center;
}

@media only screen and (max-width: 768px){
	br {
		display: none;
	}

	.brackets h3 {
	    text-shadow: none;
	}

}
