p.vigencia{
    margin: 15px auto;
    width: 300px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.boxContent{
    height: 400px;
    float: left;
    width: 33%;
}
.contenido_campana p.cae { 
    font-size: 12px;
    font-size: 11px\9;
    margin:0 auto; 
    font-weight: normal;
    text-align: center;
    width: 100%;
    float:left;
    padding: 20px 10px;
    height:auto;
    background:#eaeaea;
} 

.contenido_campana p.cae span{
    color:#ec0000;
    font-weight: bold;
}

.contenido_campana p.cae-lateral { 
    font-size: 12px;
    font-size: 11px\9;
    font-weight: normal;
    text-align: center;
    padding: 35px 10px;
}

.contenido_campana .cae-lateral {
    background:#eaeaea;
    margin:0 5px 5px 0;
    width: 162px;
    float:left;
    padding: 10px;
    height:125px;
    margin-top: 20px

}

.contenido_campana p.cae-lateral span{
    color:#ec0000;
    font-weight: bold;
}


.contenido_campana .caja {
    width: 100%;
    height: auto;
    display: block;
    border: none;
    margin:0 5px 5px 0;
    border:1px dotted #063d6b;
    color:#063d6b;
    float:left;
    padding: 10px;
    margin-top: 20px;
    min-height: 186px;
}

.contenido_campana .caja h4{ 
    width:auto; 
    height:auto; 
    margin:0 auto 0px auto;  
    font-size: 14px; 
    text-align:center; 
    font-weight: normal;
} 
.contenido_campana h3, .box h3{
    clear: both;
    padding-top: 10px;
}
.contenido_campana .caja p {
    font-size: 12px;
    color: #063d6b; 
    width: 100%;
    margin:0 0 0 0;
}

.contenido_campana .caja p span{
    font-size:14px;
    color:#ec0000;
    display:block;
    margin:0 auto 0 auto; 
    margin:0 0 10px 0;
}

.contenido_campana .caja p span strong{
    font-size:22px;
}
td{
    border: 1px solid #666;
    color: #666;
    text-align: left;
    padding: 8px;
     background-color: #eaeaea;
}

 tr:nth-child(even) {
    background: #444 !important;
}

table  {
   border: 1px solid #666;
    border-collapse: collapse;
    width: 100%;
    color: #666;
}

th{
    background-color: #444 !important;
    border: 1px solid #ebebeb !important;
    color: #fff;
} 
.pb15{
    margin-top: 0px;
}
.p_s{
    text-align: center;
}
