#preguntas-frecuentes .contenedorAcordeon {
	display: none;
	padding-top: 16px;
}

#preguntas-frecuentes .tab_container {
    background-color: #FFF;
    padding: 24px;
    margin-bottom: 32px;
}

#preguntas-frecuentes .margin-cero {
	margin: 0;
}

#preguntas-frecuentes .accordion {
     border: none; 
}

#preguntas-frecuentes .accordion h4 {
    font-size: 16px !important;
    line-height: 24px;
    color: #444;
    padding-top: 16px;
    padding-bottom: 16px;
}

#preguntas-frecuentes .accordion h4 span.flecha {
    top: 16px;
}

#preguntas-frecuentes .accordion p {
    margin: 0 0 16px 0;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    text-align: left;
}
#preguntas-frecuentes ol{
	margin-bottom: 24px;
}
#preguntas-frecuentes ol li {
	font-size: 14px;
	line-height: 20px;
	margin-top: 20px;
}
#preguntas-frecuentes #tab2 ul li {
    padding: 0 0 0 14px;
    position: relative;
}
#preguntas-frecuentes #tab2 ul li:before {
  display: none;
}
.tab_content ul li::before {
    display: none !important;
}
@media only screen and (max-width: 768px){
	#preguntas-frecuentes .tabs li {
	    padding: 0px;
	}
}