ol{
	width: 100%; 
	margin: 0 auto 20px auto;  
}
ol li{
	width: 24%; 
    display: inline-block;
    margin: 0;
    padding: 24px;
    height: 170px;
    font-size: 12px;
    border: 1px dotted #d9d9d9;
    text-align: center;
}
ol li img{
	margin:0px auto;
}   
p.last {
	width:100%;
	border:1px dotted #AAACAD;
	padding: 5px 0;
	margin: 20px auto;
	clear:both;    
	text-align: center;
}
.campana_row .link.auto-cent{
	display:none;
}

.listaClasica li {
    position: relative;
    padding-left: 20px;
    text-align: left;
    margin-top: 2px;
}

.listaClasica li span.icon-circulo {
    color: #ec0000;
    font-size: 5px;
    position: absolute;
    top: 9px;
    left: 5px;
}
.listaClasica li:before {
    display: none !important;
}
	
@media (max-width:480){
	ol li{
		width: 100%; 
		margin: 0 0 20px 0 ; 
	}
}