.container{  
  max-width: 960px;
  margin: 0 auto;
}
.red{
  background-color: #ec0000 !important;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a, section, aside, article, body{
  font-family: 'Open Sans', Arial, sans-serif !important;
}
h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }
p { font-size: 14px; }
/**/


/**/
.space-card{
	background-color: #fff;
	padding: 0px;
	border-top: 2px solid #ec0000;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px #ccc;
}
.space-card{
  border-top: 0px solid transparent !important;
  background-color: #fff;
  padding: 20px;
  height: auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 5px #ccc;
}
.space-card hr{
	border: 1px solid #ddd;
}
#result ul {
  list-style: none;  
  margin: 5px 5px 30px 0px;
}

#result ul li:before {
  content: '';
  background: red;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  position: relative;
  left: -15px;
  top: 15px;
}

#result .col-md-3 .btn-default {
  max-width: 150px;
}

.btn.active, .btn:active {
  box-shadow: none !important;
}

.space-card .see-more.animated {
    color: #EC0000;
    display: table;
    text-decoration: none !important;
    margin: 0 auto;
}

}

.solicitar{
  clear: both;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  display: block !important;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
    outline-offset: -2px;
}

.btn-default:hover, .btn-default:focus {
  color: #fff !important;
  background-color: #b30000 !important;
}

.btn-default:active  {
  color: #fff !important;
  background-color: #910018 !important;
}
[class^="btn"] {
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    transition: all 500ms ease;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}

.space-card h5 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}
.cont-space-img img{
  width: 100%;
}
/*Dots*/
#sliderContainer .space-card{
  /*overflow: visible !important;*/
}
/*.space-card .slick-dots{
    position:absolute;
    bottom:30px;
    left:50%;
    list-style-type:none;
    text-align:center;
    display: table !important;
}*/

.space-card .slick-dots{
    position: relative;
    top: 63px;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    left: 0px;
    right: 0px;
}

.space-card .slick-dots li{
    display:inline-block;
    width: 15px;
    height: 15px;
    background: #ccc;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    
}

.space-card .slick-dots li.slick-active{
    background:#ec0000;
}

.space-card .slick-dots li a{
  /*position:absolute;
  bottom:100%;
  left:50%;
  width:120px;
  height:75px;
  display:block;
  visibility:hidden;
  border:4px solid rgba(0,0,0,.50);
  margin-left:-60px;
  margin-bottom:15px;
  -webkit-transition:visibility 0.5s linear 0.5s;
  transition:visibility 0.5s linear 0.5s;
  -webkit-animation:fadeOut 0.5s both;
  animation:fadeOut 0.5s both;*/
}

.space-card .slick-dots li a:after{
  /*content:'';
  position:absolute;
  left:50%;
  margin-left:-8px;
  top:100%;
  width:0;
  height:0;
  border:8px solid Transparent;
  border-top-color:rgba(0,0,0,.50);
  margin-top:4px;*/
}

.space-card .slick-dots li:hover a{
  /*visibility:visible;
  -webkit-transition-delay:0s;
  transition-delay:0s;
  -webkit-animation:fadeIn 0.5s both;
  animation:fadeIn 0.5s both;*/    
}

.space-card .slick-dots li a img{
  width: 100%;
  height: 100%;
}

/*Slick*/
.space-card {  
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
.lboxi ul li::before{
  /*content: '';
  background: red;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  position: relative;
  left: -15px;
  top: 15px;*/
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif') center center no-repeat;
}
button.slick-prev, button.slick-next{
  display: none !important;
}
/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: relative;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: none;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
#filtro{
  /*padding: 20px;*/
}

#sliderContainer .col-md-6 ul li:before {
  content: '';
  background: #ec0000;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  position: relative;
  left: -15px;
  top: 15px;
}

@media screen and (max-width: 979px) {
  #sliderContainer h2 {
    min-height: 50px;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
  }

  #sliderContainer .col-md-6.text-left {
      min-height: 150px;
  }

  #sliderContainer img {
    display: block;
    width: 70%;
    height: auto;
  }

  #sliderContainer ul {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #sliderContainer ul li {
    margin-top: 5px;
    font-size: 12px;  
    padding-left: 15px;  
  }

  #sliderContainer .space-card h5 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px;
  }
  
}