main{
	padding-top:32px;
}
.container{  
	margin-bottom:0;     
}
@media (max-width:768px){
	.container{ 
		width: 90%!important;
		margin-left:auto;
	    margin-right: auto;
	}
}
.card{
    background-color: #fff;
    padding: 20px;
    height: auto;
    border-top: 2px solid #ec0000;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #ccc;
    overflow: hidden;
}
.btn-default {
	background-color:#ec0000;
	color:#fff;
}
.btn-default:hover {
	background-color:#990000; 
}
.btn-default.secondary{
	background-color:#fff;
	color:#ec0000;
}
.margin-auto{
	margin:0 auto;
	display:block;
}
.inner{
	margin-bottom:0;
}
.mar-top-10{
	margin:0 auto;
}
.slider-tarjetas .slick-dots { 
    margin: 20px auto 0 auto; 
}
.dotsBanner{

}
.cont-inner{
	margin-top:20px;
} 


