p.vigencia{
	margin: 15px auto;
    width: 300px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
p.cae {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    width: 250px;
	padding-bottom:20px;
	border-bottom: dotted 2px #F00;
}
p.pie_cae {
    width: auto;
    height: auto;
    font-size: 12px;
    font-style: italic;
    margin: 20px 0;
    text-align: center;
}

.iconos {
    /*width: 100%;
    margin: 10px auto;
    overflow: hidden;
    margin-top: 20%;*/
    text-align: center;
}

ul {
    list-style: none;
}

.iconos li {
    width: 100%;
    margin: 0 4%;
    float: left;
    background-image: none;
    padding: 20px 0;
    overflow: hidden;
    list-style: none;
}

li {
    background: url(bitmaps/bullet.png) 0 2px no-repeat;
    margin-bottom: 15px;
    padding-left: 13px;
}

.bg-green {
    background-color: #ABC111;
}

span.icon-avion22{
    font-size: 36px;
    padding: 18px;
    border-radius: 50%;
    color: #fff;
}
.iconos li p {
    background-color: #ec0000;
    color: #fff;
    font-size: 14px;
    padding: 5%;
    width: 90%;
    margin-top: 30px;
}
.iconos li p {
    background-color: #ec0000;
    color: #fff;
    font-size: 14px;
    padding: 5%;
    width: 90%;
    margin-top: 30px;
}
p {
    color: #5b5a5b;
    font-size: 16px;
    width: 75%;
    margin: 10px auto;
    display: inline-block;
    clear: both;
}
p {
    color: #5b5a5b;
    font-size: 16px;
    width: 75%;
    margin: 10px auto;
    display: inline-block;
    clear: both;
}
p {
    margin-bottom: 10px;
}


span.icon-sucursales{
    font-size: 36px;
    padding: 18px;
    border-radius: 50%;
    color: #fff;
}
.bg-red {
    background-color: #CC0000;
}

span.icon-auto{
        font-size: 36px;
    padding: 18px;
    border-radius: 50%;
    color: #fff;
}

.bg-purple {
    background-color: #9E3667;
}

p.txt {
    width: 100%;
}

.center-img {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.mt20{
    margin-top: 20px;
}

.wm{
    width: 250px;
}

.mt50{
    margin-top: 50px;
}
.mb20{
    margin-bottom: 20px;
}
.mb50{
    margin-bottom: 50px;
}
.color-red{
    color: #ec0000;
    font-size: 18px;
    display: block;
    font-family: 'Open Sans Bold', Arial, sans-serif;
    margin: 10px auto 0;
}

.oval-feed p{
    width: 100%;
}