 @media screen and (min-width:769px){
	.brackets h3{
		color:#FFF !important;
	}
 }
.tarjeta-div{
	padding-top:20px;
}
.campana_row .link.auto-cent{
	display:none;
}
.cont_calugas .col-md-6{
	margin-bottom:20px;
}