.cont-cajas {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.cajas {
    width: 100%;
    height: auto;
    float: left;
    text-align: left;
    margin: 0 7px 20px 0;
   }
html table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #dddddd;
}
table tr:nth-child(odd) {
  border: 1px solid #dddddd;
}
table tr td {    
    padding: 8px 0 3px 3px;
    text-align: center;
    border: 1px solid #dddddd;

}
table tr:first-child {
  background: red;
  color: #FFF;

}
table tr:first-child td {
  font-family: 'Open Sans Bold', Arial, sans-serif;

}


.cont-cajas .cajas table{
    border: 0;
    width: 361px;
}
.cont-cajas .cajas tr{
}

.cont-cajas .cajas tr td{
    border: 0;
    background-color: transparent;
    padding: 5px;
    width: 33%;
    border: 1px solid #dddddd;

}
.cont-cajas .cajas tr td strong{
    color: #ec0000;
}
.cont-cajas .cajas tr.borderTL{
    border-top-left-radius: 5px;
}