html table {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #dddddd;
  margin-bottom:20px;
}
table tr:nth-child(odd) {
  border: 1px solid #dddddd;
}
table tr td {    
    padding: 8px 0 3px 3px;
    text-align: center;
    border: 1px solid #dddddd;

}
table tr:first-child {
  background: red;
  color: #FFF;

}
table tr:first-child td {
  font-family: 'Open Sans Bold', Arial, sans-serif;

}
.campana_row ul.listaClasica{
	margin-bottom:20px;
}
#bajada-form{
	margin-bottom:20px;
}
#bajada-form .botonTextoLink{
	margin:auto;
}
form{
	display:block;
	width:100%;
	padding:15px;
	border:1px solid #CCC;
}