.destacado {
  border: 2px dotted #ec0000;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.superDestacado {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ec0000;
    color: #FFF;
    border-radius: 2px;
}

.left-no-border{
  border-left: none !important;
}

.right-no-border{
  border-right: none !important;
}

p.percent {
  text-align: center;
}

sub {
  font-size: 12px;
}
.superDestacado p.percent strong {
  display: block;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
}

.destacado p.percent strong {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

p.percent strong:after {
    content: "%";
    font-size: 14px;
}

.cond {
    font-size: 13px;
    padding-top: 10px;
    color: #666;
}


@media only screen and (max-width: 768px){
  .left-no-border{
  border-left: 2px dotted #ec0000 !important;
  }

  .right-no-border{
    border-right: 2px dotted #ec0000 !important;
  }
  .superDestacado {
    margin-top: 20px;
  }

}