body {
  font-family: 'Open Sans', Arial, sans-serif !important;
}

/* Float right redes sociales */
#medios_sociales {
  display: none;
}


h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', Arial, sans-serif;
}

ul li + li {
    margin: 0px;
}

.pt50 {
    padding-top: 50px;
}

.tab-md-4 {
  width: 33%;
  text-align: center;
}

.clear-both {
    clear: both;
}

.box-legal {
    margin-top: 30px;
}

.box-legal h5 {
    color: #ec0000;
    font-family: 'Open Sans Semi Bold', Arial, sans-serif;
}

.box-legal .parrafo-legal {
    clear: both;
    font-size: 12px;
    text-align: left;
    width: 100%;
}

.brackets.white h3 {
    color: #444444;
    text-shadow: none;
    font-family: 'Open Sans', Arial, sans-serif;
}

.box-legal .parrafo-legal {
    clear: both;
    font-size: 12px;
    text-align: left;
    width: 100%;
}


img.pasos {
	width: 30%;
	padding: 0 2%;
	float: left;
}

img.flechas {
	width: 5%;
	float: left;
	margin-top: 10%;
}